
.sensor .chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}

.sensor .summary-container {
  overflow: hidden;
}

.sensor .summary-container .sensor-summary {
  display: inline-block;
  margin-bottom: 2em;
}

.sensor .sensor-chart {
  padding-right: 2em;
}

@media (max-width: 1023px) {
  .sensor .chart-container {
    grid-template-columns: 1fr;
  }
  .sensor .sensor-chart {
    padding-right: 1em;
  }
}