
.sensor .chart-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.sensor .chart {
  display: inline-block;
  margin-left: 1em;
}

.sensor .summary-container .sensor-summary {
  display: inline-block;
  margin-bottom: 1em;
}