.latest-Measurement {
  border: solid 1px #666666;
  border-radius: 5px;
  padding: 1em;
  background-color: #bbbbdd;
  display: inline-block;
  width: 14em;
}

.latest-Measurement .header {
  display: inline-block;
  margin-bottom: 1em;
}

.latest-Measurement .title {
  font-weight: 600;
}

.latest-Measurement .timestamp {
  font-size: 70%;
  margin-left: .6em;
}

.latest-Measurement .icon {
  margin-right: .6em;
}

.latest-Measurement .label {
  display: inline-block;
}

.latest-Measurement .value {
  margin-left: .6em;
  float: right;
}